AI News Agent.json
{
  "name": "AI News Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f27ceb-c5f2-4997-8cb1-67576a7bb337",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "4c4f9417-40f2-4fb0-9976-d09f5984680f",
              "name": "content",
              "type": "string",
              "value": "={{ $json['content:encodedSnippet'] ?? $json.contentSnippet}}"
            },
            {
              "id": "e1986bac-054e-4240-ba50-536dbcd27337",
              "name": "date",
              "type": "string",
              "value": "={{ $json.isoDate}}"
            },
            {
              "id": "9566e23c-ac30-4d66-abbd-889f322688b7",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "39076447-a6f4-42fd-a68a-ebd73200be97",
      "name": "Set and Normalize Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        752,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.rss }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "63b42555-3dfb-4668-8f02-8d2122c5f27a",
      "name": "Read RSS News Feeds",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        528,
        96
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8c00469-890b-4b5b-8e2e-2ad9ec2d0815",
              "name": "rss",
              "type": "array",
              "value": "=[\n  \"https://www.engadget.com/rss.xml\",\n  \"https://feeds.arstechnica.com/arstechnica/index\",\n  \"https://www.theverge.com/rss/index.xml\",\n  \"https://www.wired.com/feed/rss\",\n  \"https://www.technologyreview.com/topnews.rss\",\n  \"https://techcrunch.com/feed/\"\n]\n"
            }
          ]
        },
        "options": {}
      },
      "id": "0dd9b3b4-8917-4fb0-a167-707789019c93",
      "name": "Set Tech News RSS Feeds",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        -48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "legionajay@gmail.com",
        "subject": "Daily Tech Newsletter",
        "message": "={{ $json.output }}\n{{ $('Limit').item.json.date }}\n{{ $('Limit').item.json.link }}",
        "options": {}
      },
      "id": "aa7de05d-0afd-4fb7-bc22-43ee36cb178a",
      "name": "Send Newsletter",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1520,
        112
      ],
      "webhookId": "0de8b6e8-8611-48a9-ba25-1d023698f577",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "0yef0vr0vriYW1tu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "7fce1fee-7fb6-4d8c-8888-11b86ee12ba6",
      "name": "Get Articles Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -80,
        -48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss",
        "options": {}
      },
      "id": "367e1039-7efd-409c-a0c1-a3906df7bc85",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        352,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize  {{ $json.title }}\n{{ $json.content }}",
        "options": {
          "systemMessage": "=Write in clear, it is tech newsletter.output shound be in format of html\n"
        }
      },
      "id": "095fb07d-7894-4919-adbb-00fcbd41e911",
      "name": "AI NEWS Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1168,
        0
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        208
      ],
      "id": "99dda2fd-2cd0-470d-9093-382ca1b4d2b0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GaWRLKaNL8rvSTv1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        976,
        112
      ],
      "id": "2b8f5eb3-18c8-41d6-86e5-8d910ed06830",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Read RSS News Feeds": {
      "main": [
        [
          {
            "node": "Set and Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tech News RSS Feeds": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set and Normalize Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Articles Daily": {
      "main": [
        [
          {
            "node": "Set Tech News RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Read RSS News Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NEWS Agent": {
      "main": [
        [
          {
            "node": "Send Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI NEWS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI NEWS Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86984ba9-63a9-4f6c-86d0-2b02ce62e33b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12b014e0716146b30778b497a423fdc981d85c85491b5a38c1b8684daf5c4219"
  },
  "id": "zIsdf9MefhAkYP7U",
  "tags": []
}